.Dashboard-content-Profile {
  width: 100%;
  margin: 20px 0px;

  display: flex;
  justify-content: center;
}

.Dashboard-content-Profile-fieldset {
  width: 99%;
  max-width: 900px;
}

.Dashboard-content-Profile-fieldset legend { font-size: 30px; color: white; }

.Dashboard-content-Profile-fieldset-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.Dashboard-content-Profile-fieldset-content-data {
  width: 400px;
  padding: 10px;
  margin: auto;
}

.Dashboard-content-Profile-fieldset-content-data-car {
  width: 98%;
  max-width: 700px;
}

.Dashboard-content-Profile-fieldset-content-data:not(:last-child) {
  border-bottom: 1px solid white;
}

.Dashboard-content-Profile-fieldset-content-data-car-attr-table {
  margin-top: 20px;
  cursor: default;
  width: 100%;
  text-align: center;
  overflow: hidden;
  border-radius: 20px;
}

.Dashboard-content-Profile-fieldset-content-data-car-attr-table thead tr th { padding: 4px 0px; }

@media (max-width: 510px) {
  .Dashboard-content-Profile-fieldset-content-data-car-attr-table { font-size: 13px; }
}

.Dashboard-content-Profile-fieldset-content-data-car-attr-table thead { 
  background: #111; 
}

.Dashboard-content-Profile-fieldset-content-data-car-attr-table tbody {
  background: #f8f8f8;
  color: #222;
}

.Dashboard-content-Profile-fieldset-content-data-car-attr-table tbody td {
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
}


