.Dashboard-Aprimorator-content-inside-body-title {
  font-size: 29px;
  margin-bottom: 10px;
  color: white;
}

.Dashboard-Aprimorator-content-inside-body-produts {
  width: 100%;
  height: 55%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.Dashboard-Aprimorator-content-inside-body-inside-Sale { 
  width: 89px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.Dashboard-Aprimorator-content-inside-body-inside-Sale-name {
  border: 1px solid white; 
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 10px;
  background: #fff;
}

.Dashboard-Aprimorator-content-inside-body-inside-Sale-name:hover {
  background: #111;
  color: #fff;
  cursor: pointer;
}

.myPartEquiped {
  color: black !important;
  background: green !important;
}

.Dashboard-Aprimorator-content-inside-body-inside-Sale-info {
  z-index: 6;
  border-radius: 10px;
  display: none;
  position: absolute;
  top: -250px;
  left: 0px;
  box-shadow: 2px 2px 5px #fff;
  background: #222;
  text-align: center;
}

.Dashboard-Aprimorator-content-inside-body-inside-Sale-info-global {
  color: white;
  width: 450px;
  
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}


.Dashboard-Aprimorator-content-inside-body-inside-Sale-info-block {
  background: #111;
  border-radius: 8px;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 3px;
  margin: 5px 2px;
}

.Dashboard-Aprimorator-content-inside-body-inside-Sale-info-block-attr {
  background: white;
  border-radius: 10px;
  color: black;
  padding: 3px;
}

.Dashboard-Aprimorator-content-inside-body-inside-Sale-info-block-value {
  color: green;
  display: flex;
}

.Dashboard-Aprimorator-content-inside-body-inside-Sale-info-block-value-update {
  border: 1px solid #fff;
  width: 100%;
  display: flex;
  flex-direction: column;
}