
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 5s linear infinite;
  -moz-animation: rotating 5s linear infinite;
  -ms-animation: rotating 5s linear infinite;
  -o-animation: rotating 5s linear infinite;
  animation: rotating 5s linear infinite;

  cursor: pointer;
}


.Header {
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 10px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Header-limit {
  width: 100%;
  max-width: 1100px;
  background: #222;
  margin: auto;
  height: 59px;
  position: relative;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* LEFT */

.Header-limit-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Header-limit-left div { margin: 0px 5px; }

.Header-limit-left-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Header-limit-left-img img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.Header-limit-left-fastInfos {
  color: white;

  display: flex;
  flex-direction: column;
}

/* RIGHT */
.Header-limit-right {
  margin-right: 10px;
  font-size: 30px;
  color: white;
}

.Header-limit-right i { z-index: 5; }
.Header-limit-right i:hover { cursor: pointer; }


.Header-limit-right-menu span:hover { 
  cursor: pointer;
}

@media (min-width: 510px) {
  .Header-limit { overflow: hidden; }

  .Header-limit-right {
    position: relative;
    height: 100%;
    width: 300px;
  }

  .Header-limit-right-limitMenu {
    position: absolute;
    left: 0%;
    top: 10px;
    
    display: flex;
    transition: all .7s linear;
  }

  .Header-limit-right-menu { 
    width: 258px; 
    margin-left: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .Header-limit-right-menu span {
    font-size: 16px;
  }

  #open-settings:checked ~ .Header-limit-right-limitMenu {  left: 90%; }
}

@media (max-width: 509px) {
  .Header-limit-right {
    position: relative;
    height: 100%;
    width: 100px;
  }

  .Header-limit-right-limitMenu {
    position: absolute;
    left: 0%;
    top: -155px;
    
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    transition: all .7s linear;
  }

  .Header-limit-right-menu { 
    width: 100px;
    margin-bottom: 20px;
    background: #222; 
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .Header-limit-right-menu span {
    font-size: 16px;
    padding: 8px 5px;
  }

  .Header-limit-right-menu span:not(:last-child) {
    border-bottom: 1px solid white;
  }

  #open-settings:checked ~ .Header-limit-right-limitMenu { top: 0%; display: flex; }
}
