
.Dashboard-content-Play-game-area-block-name {
	grid-area: nome;
	position: relative;
	background: #111;
	color: white;
	text-align: center;
	padding-top: 4px;
	border-top: 1px solid red;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.Dashboard-content-Play-game-area-block-name span {
	position: absolute;
	right: 5px;
	padding: 2px 5px;
	font-size: 13px;
	background: #999;
	color: black;
	border-radius: 10px;
	font-weight: bolder;
}

.Dashboard-content-Play-game-area-block-velocimetroArea {
	grid-area: velocimetro;
	position: relative;
}

.Dashboard-content-Play-game-area-block-velocimetroArea .velocimetro { width: 100%; height: 100%; position: absolute; }

.Dashboard-content-Play-game-area-block-velocimetroArea .div-ponteiro {
	position: absolute;
	top: 40%;
	left: 23%;
	width: 61px;
	transform: rotate(0deg);
}

.Dashboard-content-Play-game-area-block-velocimetroArea .div-ponteiro img {
	width: 100%;
	height: 100%;
}

.Dashboard-content-Play-game-area-block-velocimetroArea .velocidade {
	position: absolute;
	bottom: 4px;
	left: 25%;
}

.Dashboard-content-Play-game-area-block-cambioArea {
	grid-area: cambio;
	position: relative;
}

.Dashboard-content-Play-game-area-block-cambioArea .quebra {
	position: absolute;
	top: 3px;
	left: 3px;
}

.Dashboard-content-Play-game-area-block-cambioArea .nitro {
	position: absolute;
	width: 15px;
	height: 100%;
	top: 0px;
	right: 0px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	overflow: hidden;
}

.Dashboard-content-Play-game-area-block-cambioArea .nitro .efeito-barra-nitro {
	position: absolute;
	top: 0px;
	width: 15px;
	height: 100%;
	background: linear-gradient(to top, white, green, yellow, red);
	z-index: 0;
}

.Dashboard-content-Play-game-area-block-cambioArea .nitro .barras-nitros {
	position: absolute;
	top: 0px;
	width: 15px;
	height: 100%;
	background: #f5f5f5;
	z-index: 1;
}

.Dashboard-content-Play-game-area-block-cambioArea .nitro .barras-nitros img { position: absolute; bottom: 0px; display: none; }

.Dashboard-content-Play-game-area-block-cambioArea .categoria {
	position: absolute;
	left: 5px;
	bottom: 5px;
	color: white;
	border-radius: 10px;
	padding: 3px;
}

.Dashboard-content-Play-game-area-block-cambioArea .cambio {
	position: absolute;
	left: 26%;
	top: 13%;
}

.aproveitamento {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #f5f5f5;	
}

.Dashboard-content-Play-game-area-block-distanciaArea {
	grid-area: distancia;
	text-align: center;
	background: #111;
	color: white;
}

.Dashboard-content-Play-game-area-block-modeloArea {
	grid-area: modelo;
	position: relative;
	background: #111;
	color: white;
	display: flex;
	justify-content: space-between;
}

.Dashboard-content-Play-game-area-block-modeloArea .info-rapida {
	position: absolute;
	top: 32px;
	left: -5px;
	width: 130px;
	padding: 4px 1px;
	border-radius: 10px;
  background: #222;
	box-shadow: 0px 0px 10px black;
	border: 1px solid white;
	display: none;
	z-index: 5;
}

.Dashboard-content-Play-game-area-block-grau {
	grid-area: grau;
	position: relative;
	background: #111;
	display: flex;
	align-items: center;
	border-bottom: 1px solid red;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.Dashboard-content-Play-game-area-block-grau span {
	background: green;
	border: 1px dashed black;
	width: 0%;
	height: 4px;
	border-radius: 10px;
}

.Dashboard-content-Play-game-area-block {
	margin: 10px 20px;
	width: 247px;
	height: 150px;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 25px 100px 20px 10px;
	grid-template-areas: 
	'nome nome'
	'velocimetro cambio'
	'distancia modelo'
	'grau grau';
}






/* @import url('https://fonts.googleapis.com/css?family=Coustard&display=swap');

.participantes {
  position: relative;
	text-align: center;
  font-family: 'Arvo', serif;
  font-size: 14px;
	width: 247px;
  height: 176px;
	color: white;
  cursor: default;
  margin: 10px;
	background: linear-gradient(100deg, rgba(90, 90, 90, .4), rgb(90, 90, 90), rgba(90, 90, 90, .4));
}

.participantes thead tr,
.participantes .tr-base {
  background-color: #222;
}

.participantes td {
  position: relative;
  width: 50%;
}

.participantes tr {
  position: relative;
}

.participantes .td-principal {
  height: 110px;
}

.participantes .td-menor {
  height: 27px;
}

.aproveitamento {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.ligar {
	background: linear-gradient(to bottom, #909090, white);
}

.grau {
	position: relative;
  width: 100%;
}

.quebra {
	position: absolute;
	left: 1px;
	top: 1px;
}

.cambio {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 0px;
  border: 1px solid red;
	left: 24%;
	top: 20%; 
}

.categoria {
	position: absolute;
	bottom: 1px;
	left: 1px;
	padding: 5px;
	border-radius: 5px;
}

.nitro {
	position: absolute;
	width: 14px;
	height: 100%;
	top: 0px;
	right: 0px;
	bottom: 0px;
}

.velocimetro {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
}

.div-ponteiro {
  position: absolute;
  z-index: 1;
  top: 41px;
  left: 25px;
}

.ponteiro {
  transform: translate(0px, 0px) rotate(0deg);
  width: 160%;
}

.barras-nitros {
	position: absolute;
	right: 0;
	top: 0;
	width: 14px;
	height: 100%;
	background-color: transparent;
	z-index: 1;
}

.barras-nitros img {
	position: absolute;
	bottom: 0;
	left: 0;
	display: none;
}

.efeito-barra-nitro {
	width: 14px;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	background: linear-gradient(to top, blue, yellow, red);
	border-radius: 10px;
  display: none;
}

.nomes-modelos span {
	position: absolute;
	font-size: 17px;
	right: 0px;
	color: red;
	opacity: .7;
}


.grau span {
	position: absolute;
	background-color: springgreen;
	left: 0px;
	width: 0%;
	font-size: 7px;
	text-align: center;
	height: 4px;
	border: 0.2px	dashed black;
}

.velocidade {
	position: absolute;
	bottom: 6px;
	z-index: 1;
	left: 23%;
	top: 75%;
	font-size: 15px;
	color: black;

  font-family: 'Coustard', serif;
}

.info-rapida {
	display: none;
  text-align: left;
	position: absolute;
	border: 1px solid black;
  width: 155px;
	padding: 6px;
	border-radius: 10px;
	box-shadow: 1px 1px 10px white;
	background: linear-gradient(100deg, rgba(90, 90, 90, .7), rgb(90, 90, 90), rgba(90, 90, 90, .7));
	color: white;
  font-family: 'Coustard', serif;

  z-index: 10;
} */ 
