
.Dashboard-content-Play-game-area-block-name {
	grid-area: nome;
	position: relative;
	background: #111;
	color: white;
	text-align: center;
	padding-top: 4px;
	border-top: 1px solid red;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.Dashboard-content-Play-game-area-block-name span {
	position: absolute;
	right: 5px;
	padding: 2px 5px;
	font-size: 13px;
	background: #999;
	color: black;
	border-radius: 10px;
	font-weight: bolder;
}

.Dashboard-content-Play-game-area-block-velocimetroArea {
	grid-area: velocimetro;
	position: relative;
}

.Dashboard-content-Play-game-area-block-velocimetroArea .velocimetro { width: 100%; height: 100%; position: absolute; }

.Dashboard-content-Play-game-area-block-velocimetroArea .div-ponteiro {
	position: absolute;
	top: 40%;
	left: 23%;
	width: 61px;
	transform: rotate(0deg);
}

.Dashboard-content-Play-game-area-block-velocimetroArea .div-ponteiro img {
	width: 100%;
	height: 100%;
}

.Dashboard-content-Play-game-area-block-velocimetroArea .velocidade {
	position: absolute;
	bottom: 4px;
	left: 25%;
}

.Dashboard-content-Play-game-area-block-cambioArea {
	grid-area: cambio;
	position: relative;
}

.Dashboard-content-Play-game-area-block-cambioArea .quebra {
	position: absolute;
	top: 3px;
	left: 3px;
}

.Dashboard-content-Play-game-area-block-cambioArea .nitro {
	position: absolute;
	width: 15px;
	height: 100%;
	top: 0px;
	right: 0px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	overflow: hidden;
}

.Dashboard-content-Play-game-area-block-cambioArea .nitro .efeito-barra-nitro {
	position: absolute;
	top: 0px;
	width: 15px;
	height: 100%;
	background: linear-gradient(to top, white, green, yellow, red);
	z-index: 0;
}

.Dashboard-content-Play-game-area-block-cambioArea .nitro .barras-nitros {
	position: absolute;
	top: 0px;
	width: 15px;
	height: 100%;
	background: #f5f5f5;
	z-index: 1;
}

.Dashboard-content-Play-game-area-block-cambioArea .nitro .barras-nitros img { position: absolute; bottom: 0px; display: none; }

.Dashboard-content-Play-game-area-block-cambioArea .categoria {
	position: absolute;
	left: 5px;
	bottom: 5px;
	color: white;
	border-radius: 10px;
	padding: 3px;
}

.Dashboard-content-Play-game-area-block-cambioArea .cambio {
	position: absolute;
	left: 26%;
	top: 13%;
}

.aproveitamento {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: #f5f5f5;	
}

.Dashboard-content-Play-game-area-block-distanciaArea {
	grid-area: distancia;
	text-align: center;
	background: #111;
	color: white;
}

.Dashboard-content-Play-game-area-block-modeloArea {
	grid-area: modelo;
	position: relative;
	background: #111;
	pointer-events: painted;
	color: white;
	display: flex;
	justify-content: space-between;
}

.Dashboard-content-Play-game-area-block-modeloArea .info-rapida {
	position: absolute;
	top: 32px;
	left: -5px;
	width: 130px;
	padding: 4px 1px;
	border-radius: 10px;
  background: #222;
	box-shadow: 0px 0px 10px black;
	border: 1px solid white;
	display: none;
	z-index: 5;
}

.Dashboard-content-Play-game-area-block-modeloArea .modelo-olho { color: red; }

.Dashboard-content-Play-game-area-block-grau {
	grid-area: grau;
	position: relative;
	background: #111;
	display: flex;
	align-items: center;
	border-bottom: 1px solid red;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.Dashboard-content-Play-game-area-block-grau span {
	background: green;
	border: 1px dashed black;
	width: 0%;
	height: 4px;
	border-radius: 10px;
}

.Dashboard-content-Play-game-area-block {
	margin: 10px 20px;
	width: 247px;
	height: 150px;
	pointer-events: none;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 25px 100px 20px 10px;
	grid-template-areas: 
	'nome nome'
	'velocimetro cambio'
	'distancia modelo'
	'grau grau';
}
